* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primaryColor: #0084ffc4;
  --secondaryColor: #f8a436;
  --linkColor: rgb(162, 0, 255);
}

#navbarContainer {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 1;
  font-size: small;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(224, 224, 224);
}

#navbar {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  z-index: 1;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#profile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 5px 5px 5px 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
}

a:hover {
  text-decoration: underline;
}

#navText {
  position: fixed;
  top: 0px;
  margin: 18px 0px 10px 1vw;
  display: none;
}

#navbar a {
  margin-right: 5vw;
}

#title,
#date {
  text-align: center;
  margin-bottom: 20px;
}

#postContainer {
  margin: 80px 0px 50px 0px;
  display: flex;
  justify-content: center;
}

#postItem {
  min-width: 280px;
  margin-bottom: 100px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 25px;
}

h3 {
  margin-top: 25px;
}

hr {
  margin-bottom: 25px;
}

#postItem li {
  margin: 15px 0px;
}

#postItem a {
  color: var(--linkColor);
}

pre {
  box-shadow: 1px 1px 5px 0px rgb(151, 151, 151);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  white-space: pre;
  overflow-x: auto;
  z-index: 0;
}

li code, h1 code, h2 code, h3 code{
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 4px;
  padding: 1px 4px;
}

.icons:hover {
  box-shadow: 1px 1px 1px 1px rgb(104, 104, 104);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heartIcon {
  width: 20px;
  height: 20px;
}

#iconAttribution {
  color: var(--linkColor);
  margin: 5px 0px;
}

#socialFooter {
  display: flex;
  justify-content: center;
  font-size: small;
}

#socialFooter .icons {
  width: 30px;
  height: 30px;
  margin: 0px 1px;
  border-radius: 5px;
}

@media (min-width: 400px) {
  #navText {
    display: inline;
    font-weight: bold;
  }
  #socialFooter {
    font-size: medium;
  }
  #socialFooter .icons {
    margin: 0px 5px;
  }
}

@media (min-width: 600px) {
  #navbarContainer {
    font-size: medium;
  }
  #navText {
    margin: 15px 0px 10px 1vw;
  }
  #postItem {
    width: 700px;
  }
}
