* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  --primaryColor: #0084ffc4;
  --secondaryColor: #f8a436;
  --linkColor: rgb(162, 0, 255);
}

#navbarContainer {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(224, 224, 224);
}

#navbar {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#blogs {
  color: var(--secondaryColor);
}

#navText {
  position: fixed;
  top: 0px;
  margin: 18px 0px 10px 1vw;
  display: none;
}

#navbar a {
  margin-right: 5vw;
}

#profile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 5px 5px 5px 10px;
}

#blogContainer {
  width: 100vw;
  margin: 80px 0px 50px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blogPostsList li {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 3px rgb(224, 224, 224);
  display: flex;
  justify-content: space-between;
}

.icons:hover {
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heartIcon {
  width: 20px;
  height: 20px;
}

#iconAttribution {
  color: var(--linkColor);
  margin: 5px 0px;
}

#socialFooter {
  display: flex;
  justify-content: center;
}

#socialFooter .icons {
  width: 30px;
  height: 30px;
  margin: 0px 1px;
  border-radius: 5px;
}

@media (min-width: 400px) {
  #navText {
    display: inline;
    font-weight: bold;
  }
  #blogPostsList li {
    width: 400px;
  }
  #socialFooter .icons {
    margin: 0px 5px;
  }
}

@media (min-width: 600px) {
  * {
    font-size: medium;
  }
  #navText {
    margin: 15px 0px 10px 1vw;
  }
  #blogPostsList li {
    width: 500px;
  }
}
