* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbarContainer {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(224, 224, 224);
}

#navbar {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
  top: 0px;
}

a:hover {
  text-decoration: underline;
}

#navText {
  position: fixed;
  top: 0px;
  margin: 18px 0px 10px 1vw;
  display: none;
}

#navbar a {
  margin-right: 5vw;
}

#title,
#date {
  text-align: center;
  margin-bottom: 20px;
}

#postContainer {
  margin-top: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 5px 5px 5px 10px;
}

@media (min-width: 400px) {
  #navText {
    display: inline;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  #navText {
    margin: 15px 0px 10px 1vw;
  }
}
