* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  --primaryColor: #0084ffc4;
  --secondaryColor: #ff9100;
}

#navbarContainer {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(224, 224, 224);
}

#navbar {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#navText {
  position: fixed;
  top: 0px;
  margin: 18px 0px 10px 1vw;
  display: none;
}

#navbar a {
  margin-right: 5vw;
}

#profile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 5px 5px 5px 10px;
}

#projects {
  color: var(--secondaryColor);
}

#projectContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

#projectItem-1,
#projectItem-2 {
  width: 100%;
  margin: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectImage {
  width: 90%;
  border-radius: 5px;
  margin: 12px;
}

.projectImage:hover {
  box-shadow: 1.2px 1px black;
}

#projectItem-1 img {
  width: 80%;
}

#link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background-color: rgb(255, 56, 56);
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.btn:hover {
  box-shadow: 1.2px 1px black;
}

.projectInfo {
  margin: 1em;
}

@media (min-width: 400px) {
  #navText {
    display: inline;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  * {
    font-size: medium;
  }

  #navText {
    margin: 15px 0px 10px 1vw;
  }

  #projectItem-1,
  #projectItem-2 {
    width: 40%;
  }

  .projectImage {
    width: 70%;
  }

  #projectItem-1 img {
    width: 50%;
  }
}
