* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primaryColor: #ffffff;
  --secondaryColor: #ff9100;
}

#navbar {
  height: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
}
#blogs {
  color: var(--secondaryColor);
}

body {
  background: var(--primaryColor);
}

ul {
  list-style-type: none;
}

#head {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
