* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primaryColor: #ffffff;
  --secondaryColor: #ff9100;
}

body {
  background-color: var(--primaryColor);
}

#navbar {
  height: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
#home {
  color: var(--secondaryColor);
}

#container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

#container li {
  list-style-type: square;
}

#infoCard {
  width: 100%;
}

#skillCard,
#educationCard {
  width: 90%;
  padding: 5px;
  margin: 1em;
  border-radius: 5px;
}

#skills,
#education {
  font-size: large;
  font-weight: 700;
  margin: 10px;
}

#skillCard li,
#educationCard li {
  margin: 5px;
}

#linkCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

#find {
  margin: 10px;
}

#social {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icons {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
}

.icons:hover {
  box-shadow: 2px 2px black;
}

@media (min-width: 600px) {
  #container {
    grid-template-columns: 1fr 1fr;
  }

  #infoCard {
    width: 60vw;
  }

  #linkCard {
    margin: 15px 0px;
  }
}
