* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primaryColor: #ffede6;
  --secondaryColor: #ff7b00;
}

#navbar {
  height: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
#projects {
  color: var(--secondaryColor);
}

body {
  background: var(--primaryColor);
}

#projectContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

#projectItem-1,
#projectItem-2 {
  width: 100%;
  margin: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectImage {
  width: 90%;
  border-radius: 5px;
  margin: 12px;
}

.projectImage:hover {
  box-shadow: 1.2px 1px black;
}

#projectItem-1 img {
  width: 80%;
}

#link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background-color: rgb(255, 56, 56);
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.btn:hover {
  box-shadow: 1.2px 1px black;
}

.projectInfo {
  margin: 1em;
}

@media (min-width: 600px) {
  #projectItem-1,
  #projectItem-2 {
    width: 40%;
  }

  .projectImage {
    width: 70%;
  }

  #projectItem-1 img {
    width: 50%;
  }
}
