* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  height: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

ul,
a {
  list-style-type: none;
}

body {
  background: rgb(238, 211, 255);
}

#projectContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

#projectItem-1 {
  width: 100%;
  background-color: rgb(216, 236, 253);
  margin: 1em;
  border-radius: 5px;
}

.projectImage {
  width: 90%;
  border-radius: 5px;
  margin: 10px;
}

.projectImage:hover {
  box-shadow: 1.2px 1px black;
}

#link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background-color: rgb(255, 64, 64);
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn:hover {
  box-shadow: 1.2px 1px black;
}

.projectInfo {
  margin: 1em;
}

@media (min-width: 600px) {
  #projectItem-1 {
    width: 40%;
  }

  .projectImage {
    width: 90%;
  }
}
