*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 30px;
    font-size: x-large;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


ul{
    list-style-type: none;
}

li{
    color: white;
    padding-bottom: 2px;
}

a{
    text-decoration: none;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

.text{
    color: white;
    font-weight: bolder;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) , rgba(252,176,69,1) 100%);
}


.container{

    display: flex;
    justify-content: space-evenly;  

}

.head{
    margin-left: 2em;
}

.flex-item-1{

    position: relative;
    margin-top: 10em;

}

.flex-item-2{
    
    position: relative;
    margin-top: 8em;
    margin-left: 10em;

}

.me{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    position: relative; 
}



.icons{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0px 10px;
}

.icons:hover{
    transform: scale(1.1,1.1);
    box-shadow: 2px 2px black;

}
