*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    font-size: x-large;
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


ul{
    list-style-type: none;
}

li{
    color: white;
    padding-bottom: 2px;
}

a{
    text-decoration: none;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

.text{
    color: white;
    font-weight: bolder;
}

body{

    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) , rgba(252,176,69,1) 100%);

}

.parent-container{
    display: grid;
    grid-template-columns: 1fr;
}


.intro{
    position: relative;
    top: 5em;
    left: 5em;
}

.child-container{
    position: relative;
    top: 15em;
    left: 5em;
}

.logo{
    width: 150px;
    height: auto;
    margin: 0px 10px;
}

.info{
    margin-top: 25px;
    text-align: center;
}

.logo:hover{ 
    transform: scale(1.15,1.15);
}

.info-head-1{
    text-align: center;
    position: relative;
    bottom: 1em;
}

.flex-item-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
    top: 2em;
    padding: 0em 1em;
}

.info-head-2{
    text-align: center;
    position: relative;
    top: 3em;
}

.flex-item-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
    top: 5em;
    padding: 0em 1em;
}


@media (min-width: 300px) and (max-width: 780px){

/* 
    .parent-container{
        text-align: center;
    } */

    .intro{
        position: relative;
        top: 5em;
        left: 1em; 
        padding: 0em 2em;
    }
    .child-container{
        position: relative;
        top: 10em;
        left: 3em;
    }

    .logo{
        width: 150px;
        height: auto;
    }

    .info{
        margin-top: 1em;
        margin-bottom: 3em;
        text-align: center;
    }

    .info-head-1{
        position: relative;
        padding: 0em 2em;
        right: 2em;
        bottom: 1em;
    }
    
    .flex-item-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    
    .info-head-2{
        text-align: left;
        position: relative;
        padding: 0em 2em;
        top: 1em;
        right: 2em;
    }

    .flex-item-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        position: relative;
        top: 5em;
    }
    
}